apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: fitness-tracker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
      - name: user-service
        image: 925047941400.dkr.ecr.eu-west-1.amazonaws.com/user-service:latest
        ports:
        - containerPort: 8082
        env:
        - name: SPRING_PROFILES_ACTIVE
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: SPRING_PROFILES_ACTIVE
        - name: SPRING_CLOUD_CONFIG_URI
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: CONFIG_SERVER_URL
        - name: SPRING_CONFIG_IMPORT
          value: "optional:configserver:$(SPRING_CLOUD_CONFIG_URI)"
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: EUREKA_SERVER_URL
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:postgresql://fitness-tracker-dev-postgres.ctcwa4suov5y.eu-west-1.rds.amazonaws.com:5432/fitnessdb"
        - name: SPRING_DATASOURCE_USERNAME
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: rds-username
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: rds-password
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8082
          initialDelaySeconds: 120
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 6
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8082
          initialDelaySeconds: 150
          periodSeconds: 30
          timeoutSeconds: 5
          failureThreshold: 3
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: fitness-tracker
spec:
  selector:
    app: user-service
  ports:
  - port: 8080
    targetPort: 8082
  type: ClusterIP
